* {
	padding: 0px;
	margin: 0px;
}

html {
	font-family: "helvetica neue",helvetica,arial,sans-serif;
	-webkit-font-smoothing: antialiased;
}

header {
	height: 40px;
	padding: 10px;
	background-color: #525252;
}

body {
		background-color: #EEE;
}

main {
	margin:10px;
}
